name: "Build Docker Image"

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Build Docker image
          run: docker build -t tku-aila ./

        - name: Log in to GitHub Container Registry
          uses: docker/login-action@v2
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Tag and push image
          env:
            IMAGE_TAG: ${{ github.ref_name == 'dev' && 'dev' || 'latest' }}
          run: |
            docker tag tku-aila:latest ghcr.io/earthlyeric/tku-aila:${IMAGE_TAG}
            docker push ghcr.io/earthlyeric/tku-aila:${IMAGE_TAG}